@use "variaveis";

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../../dist/images/background_hero.jpg);
    text-align: center;
    background-size: cover;

    @media (max-width: 768px) {
        background-image: url(../../dist/images/background_hero.jpg);
        padding-top: calc(50vw + 25px);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: -55px;
    }

    .button {
        margin-top: 2vw;
        margin-bottom: 8px;
    }

    &__content {
        max-width: 640px;

        &__branding {
            max-width: 920px;
            margin: 0 auto 38px;
            
            @media (max-width: 768px) {
                max-width: 180px;
            }
            
            img {
                max-width: 100%;
            }
        }

        .title--small {
            margin-bottom: 64px;
        }

        p {
            margin-bottom: 20px;
            
            &:last-child {
                margin-top: 60px;
                }
            }
        }
    }
