$corDeFundo: #040714;
$corTextoPrincipal: Silver;
$corTextoSecundaria: #f9f9f9;
$corDefundoBotaoprimeiro: #6421ff;
$cordefundobotasecundario: #0063e5;
$cordefundobotaodark: #000;
$cor_botao_comprado: green;